
    <header>

      <nav id="navbar" class="navbar d-block d-sm-none navbar-light navbar-expand {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container justify-content-start">
          <a class="navbar-brand nav-link justify-content-start" href="{{ '/' | relative_url }}" style="margin-right: 0;">
            {%- assign profile_image_path = site.profile.image | prepend: 'assets/img/' -%}
            <img 
              class="z-depth-1 rounded"
              style="display: flex; margin: auto;"
              src="{{ profile_image_path | relative_url }}" 
              height="80em"
              width="80em"
              max-width="100%"
              data-zoomable/>
          </a>
          <div>
            <span><h4 style="margin-top: 0.55em; margin-bottom: 0.25em;"><span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}</h4></span>
            <span><p>{{ site.subtitle }}</p></span>
          </div>
        </div>
        <div class="container d-flex justify-content-around">
            <ul class="navbar-nav flex-nowrap">
              {% include navbar_items.html -%}
            </ul>
        </div>
      </nav>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar d-none d-sm-block navbar-light navbar-expand {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          {% if page.permalink != '/' -%}
          <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}/">
              {%- if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif -%}
          </a>
          {%- elsif site.enable_navbar_social -%}
          <!-- Social Icons -->
          <div class="navbar-brand social">
            {% include social.html %}
          </div>
          {% endif %}
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">
              {% include navbar_items.html -%}
            </ul>
          </div>
        </div>
      </nav>
    </header>